<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="INPS.DNA.Service" type="INPS.DNA.Services.Configuration.ServiceConfigurationSection, INPS.DNA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
		<section name="INPS.DNA.Context" type="INPS.DNA.Context.Configuration.ContextSection, INPS.DNA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
		<section name="INPS.DNA.Data" type="INPS.DNA.Data.Configuration.DataSection, INPS.DNA.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c" />
		<section name="INPS.DNA.Data.SchemaAlias" type="INPS.DNA.Data.Configuration.SchemaAliasSection, INPS.DNA.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
	</configSections>
	<INPS.DNA.Service>
		<serviceConfigurationSettings/>
	</INPS.DNA.Service>
	<enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
		<sources>
			<add name="DNA Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="D:\Web\Componenti\DNA.CONFIG\DNA.Settings.Intranet.BackEnd.config"/>
			<add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<INPS.DNA.Context>
		<applicationInfo name="PN812_InpsPensioneLiquidazione" identityKey="aloqemsw6u0iflg7sjwlmvawyoplvrt4" securityGroupName="codiceIDM" description="servizio liquidazione" />
	</INPS.DNA.Context>
	<INPS.DNA.Data>
		<connectionStringCryptography enabled="false"/>
		<connectionTracking enabled="true"/>
	</INPS.DNA.Data>

	<INPS.DNA.Data.SchemaAlias>
		<ConnectionSchemaAliasList>
			<ConnectionSchemaAlias connectionName="DB2Conn_Oneri">
				<AliasList>
					<Alias key="ONERI_PREPENSIONAMENTO" value="DB2DA"/>
				</AliasList>
			</ConnectionSchemaAlias>
		</ConnectionSchemaAliasList>
	</INPS.DNA.Data.SchemaAlias>

	<appSettings>
		<!--ARCA-->
		<add key="SvrARCA.APP" value="LiqPensi"/>
		<add key="SvrARCA.PROV" value="IN"/>
		<add key="SvrARCA.RUOLO" value="All"/>
		<!--ARCA MAN-->
		<add key="SvrArcaMan.GestioneApplOrigine" value="100" />
		<add key="SvrArcaMan.SedeApplOrigine" value="003900" />
		<add key="SvrArcaMan.PgmApplOrigine" value="LIQPENSI" />
		<add key="SvrArcaMan.TranApplOrigine" value="LIQPENSI" />
		<add key="SvrArcaMan.Funzione" value="I" />
		<!--DETRAZIONI NUOVO SERVIZIO-->
		<add key="UrlDetrazioni" value="http://intranet.collaudo.inps.it/APP01/SunAM/FISCOWEB/Detra/PENSIONI/NuovaDetrazione"/>
		<add key="identityKey" value="aloqemsw6u0iflg7sjwlmvawyoplvrt4"/>
		<!--REDDITI-->
		<add key="ChiaveAccessoRedditi" value="2009.DRED-AccessoRiservato!"/>
		<add key="UrlRedditi" value="http://intranet.collaudo.inps.it/App02/Servizi.Net/DRED/home.aspx"/>
		<!--AGGPEC-->
		<add key="ChiaveApplicazioneAGGPEC_FS" value="LIQPENFS" />
		<!--AGGPEC-->
		<add key="ChiaveApplicazioneAGGPEC_AGO" value="LIQPENAG" />
		<!--AGGPEC-->
		<add key="ChiaveApplicazioneAGGPEC_CI" value="LIQPENCI" />
		<!-- AMGFelpe -->
		<add key="ChiaveApplicazioneAGGPEC_AMG" value="liqpenag"/>
		<!--ByPassControllosedi-->
		<add key="BypassControlloSedi" value="NO"/>
		<!--ByPassControlloMatricola-->
		<add key="BypassControlloMatricola" value="NO"/>
		<!--BypassLiquidazioniAbilitate-->
		<add key="BypassLiquidazioniAbilitate" value="NO"/>
		<!--BypassAttivitaWebDom-->
		<add key="BypassAttivitaWebDom" value="NO"/>
		<!--BypassDecorrenzaRipristinoBanc-->
		<add key="BypassDecorrenzaRipristinoBanc" value="NO"/>
		<!--BypassMatricolaARCA-->
		<add key="BypassMatricolaARCA" value="99999998"/>
		<!--WEBDOM-->
		<add key="WEBDOM-CODE" value="LIQPENSI" />
		<!--StampeWeb-->
		<add key="StampeWeb-UserID" value="LIQPEN" />
		<add key="StampeWeb-Password" value="LIQPENSI" />
		<add key="StampeWeb-Applicazione" value="LIQPENSI" />
		<add key ="UsaDataPower" value="SI"/>
		<!--Icona-->
		<add key="CodeIcona" value="PN089"/>
		<add key="UsrIcona" value="UPN089"/>
		<add key="PwdIcona" value="PWD1"/>
		<!--DPI-->
		<add key="UrlDPI" value="http://intranet.collaudo.inps.it/App01/Servizi.Net/InpsDPIIntranet/StartIntranet.aspx?"/>
		<!--DataSistema-->
		<add key="DataSistema" value="SI"/>
		<!--DPRArmonizzazione-->
		<add key="DPRArmonizzazione" value="NO"/>
		<!--NuoviControlliAssegniMemo152-->
		<add key="NuoviControlliAssegniMemo152" value="SI"/>
		<!-- GeneraCertificati-->
		<add key="GENERACERTIFICATI-CODE" value="LIQPENS"/>
		<!-- SIN -->
		<add key="ChiaveApplicazioneSIN" value="IVSSIN"/>
		<!--Url SAI-->
		<add key="UrlSAI" value="http://coll.host.inps:8091/cics/services/PNBTW01"/>
		<!--ANF-->
		<add key="SistemaChiamante" value="PN812"/>
		<!-- GestioneAMG_Fondi_FSPT -->
		<add key="GestioneAMG_Fondi_FSPT" value="SI"/>
		<!--Servizio verifica titolarità IBAN-CF-->
		<add key="Sistema" value="TEST42"/>
		<!-- SCRIWO -->
		<add key="AggiornaSCRIWO" value="SI"/>
		<add key="SistemaChiamanteSCRIWO" value="LIQPENS"/>
		<!-- INPDAP -->
		<add key="CheckSedeDestinazioneINPDAP" value="SI"/>
		<add key="CheckSedeDestinazioneINPDAP_Final" value="NO"/>
		<add key="AbilitaQuadroDelegheTuteleINPDAP" value="SI"/>
		<add key="AbilitaFlussoNoteDiDebito" value="SI"/>
		<add key="AbilitaFlussoCalcoloQuote" value="SI"/>
		<add key="AbilitaFlussoSeiScatti" value="SI"/>
		<!-- Api Connect-->
		<add key="ApiClientId" value="0422f15d4346c7e3d31fec68407aa889" />
		<add key="ApiClientSecret" value="86e700bdbf111637b07edbacda29c2cd" />
		<add key="ApiScriwoUrl" value="https://api-intranet.collaudo.inps.it/rest/servizi-c/ms00072/" />
		<add key="ApiScriwoProvider" value="AD" />
		<add key="ApiScriwoUserId" value="SCRIWO" />
		<add key="ApiSistemaPensioniUrl" value="https://api-intranet.collaudo.inps.it/rest/servizi-c/ms00430/" />

		<!-- BANC PL TRA 1990 e 1996-->
		<add key="DisabilitaSalvaAnagrafica" value="SI"/>
		<!--Tipologia Domanda = C || D || E per le inabilità-->
		<add key ="TipologiaCumuloPerInabilita" value ="SI"/>
		<!--Calcola quote-->
		<add key ="SrvCalcolaQuote_AppName" value ="PN812_InpsPensioneLiquidazione"/>
		<add key ="SrvCalcolaQuote_AppKey" value ="aloqemsw6u0iflg7sjwlmvawyoplvrt4"/>
		<!--LiPE-->
		<add key ="AbilitaControlloLIPE" value="NO"/>
		<!-- Api Connect Nuovo Calcolo-->
		<add key="ApiNuovoCalcoloUrl" value="https://api-intranet.collaudo.inps.it/rest/servizi-c/ms00619" />
		<add key="ApiNuovoCalcoloProvider" value="AD" />
		<add key="ApiNuovoCalcoloUserId" value="LIQPENSI" />
		<!--Solo a scopo informativo, l'AppName attraverso API Connect del progetto IVS è quello di seguito-->
		<!--<add key="AppName" value="WS00490"/>-->
		<add key="ApiIndebitiUrl" value="https://api-intranet.collaudo.inps.it/rest/servizi-c/ms01411"/>
		<add key="ApiParallelRunUrl" value="https://api-intranet.collaudo.inps.it/rest/servizi-c/ms00818" />

	</appSettings>
	<connectionStrings>
		<add name="PensioniConnectionString"
				connectionString="Data Source=sqlcol20,2469;Initial Catalog=Pensioni_Fs;Persist Security Info=True;User ID=Pensioni_Fs;Password=HDeoiine5t"
				providerName="System.Data.SqlClient" />
    <add name="UnicarpeConnectionString"
            connectionString="Data Source=SQLCOL83.ser-collaudo.inps,1433;Initial Catalog=Unicarpe;Persist Security Info=True;User ID=DBWS0049001;Password=Mi2WwtH"
            providerName="System.Data.SqlClient" />
		<add name="WebDomConnectionString"
			connectionString="Data Source=sqlcol06\sql06;Initial Catalog=Richieste2003;Persist Security Info=True;User ID=Richieste2003Dec;Password=TuLpr.Wtg9"
			providerName="System.Data.SqlClient" />
		<add name="DBS_ComuniConnectionString" connectionString="Data Source=SQLCOL20;Initial Catalog=DBS_Comuni;Persist Security Info=True;User ID=LiqPens;Password=9gs8jl" providerName="System.Data.SqlClient" />

		<add name="DB2Conn_Oneri" connectionString="Provider=DB2OLEDB;Password=ASda54cH;Persist Security Info=False;User ID=WBPPPN812;Initial Catalog= A0XDBCL;Data Source=A0XDBCL;Defer Prepare=FALSE;Network Transport Library=TCPIP;Host CCSID=20280;Max Pool Size=10;Connect Timeout=15;Network Address= COLL.HOST.INPS;Network Port=446;Package Collection=COLDADM;Default Schema=DB2DA;Connection Pooling=True; Client Application Name=LIQPENS; Auto Commit=True;Units of Work=RUW;DBMS Platform=DB2MVS;Authentication=Server; Process Binary as Character=False;Use Early Metadata=False;Derive Parameters=False" providerName="Microsoft.HostIntegration.MsDb2Client"/>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="INPS.Pensioni.Liquidazione.Service.ServizioLiquidazioneBehavior"
					name="INPS.Pensioni.Liquidazione.Service.ServizioLiquidazione">
				<endpoint address="nettcp" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.Pensioni.Liquidazione.Service.IServizioLiquidazione" />
				<endpoint address="netpipe" binding="customBinding" bindingConfiguration="netpipeCustomBinding" contract="INPS.Pensioni.Liquidazione.Service.IServizioLiquidazione" />
				<endpoint address="nettcp" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.Pensioni.Liquidazione.Service.IDecodifica" />
				<endpoint address="netpipe" binding="customBinding" bindingConfiguration="netpipeCustomBinding" contract="INPS.Pensioni.Liquidazione.Service.IDecodifica" />
				<endpoint address="nettcp" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.Pensioni.Liquidazione.Service.IQuadri" />
				<endpoint address="netpipe" binding="customBinding" bindingConfiguration="netpipeCustomBinding" contract="INPS.Pensioni.Liquidazione.Service.IQuadri" />
				<endpoint address="configuration" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.DNA.Services.Contract.IConfigurationService"/>
				<endpoint address="test" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.DNA.Services.Contract.IMonitoringService"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="INPS.Pensioni.Liquidazione.Service.ServizioLiquidazioneBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"  />
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"   />
					<serviceThrottling maxConcurrentSessions="16"  />
					<infrastructureService auditRequestLevel="Full" auditResponseLevel="Full" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="Client">
					<initializeClientMessage />
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IManagerConfigurationService" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00">
					<security mode="None">
					</security>
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="CustomBinding_IServizioLiquidazioneFs1" closeTimeout="00:03:00"
			openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
			transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
			hostNameComparisonMode="StrongWildcard" listenBacklog="10"
			maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10"
			maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
				<binding name="CustomBinding_IServizioLiquidazioneCi1" closeTimeout="00:03:00"
							openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
							transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
							hostNameComparisonMode="StrongWildcard" listenBacklog="10"
							maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10"
							maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
				<binding name="CustomBinding_IServizioLiquidazioneAgo1" closeTimeout="00:03:00"
									openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
									transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
									hostNameComparisonMode="StrongWildcard" listenBacklog="10"
									maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10"
									maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
			<customBinding>
				<binding name="nettcpCustomBinding" sendTimeout ="00:03:00" >
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="163840"/>
					</binaryMessageEncoding>
					<tcpTransport maxReceivedMessageSize="900000" transferMode="Buffered">
					</tcpTransport>
				</binding>
				<binding name="netpipeCustomBinding" sendTimeout ="00:03:00" >
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="163840"/>
					</binaryMessageEncoding>
					<namedPipeTransport maxReceivedMessageSize="900000" transferMode="Buffered" />
				</binding>
				<binding name ="WsSOAP1">
					<textMessageEncoding messageVersion="Soap11">
						<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
					</textMessageEncoding>
					<httpsTransport
					 transferMode ="Buffered"
					 maxBufferSize="2147483647" useDefaultWebProxy="true"
					 maxBufferPoolSize="2147483647" bypassProxyOnLocal="false"
					 maxReceivedMessageSize="2147483647" requireClientCertificate="false" />
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding name="WSWebDomSoap" closeTimeout="00:03:00" openTimeout="00:03:00"
			receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
			messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
			useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400"
						maxBytesPerRead="4096" maxNameTableCharCount="1638400" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSARCASoap" closeTimeout="00:03:00" openTimeout="00:03:00"
				   receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false"
				   bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				   maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360"
				   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				   useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
						realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="RED_ServiceSoap" closeTimeout="00:03:00" openTimeout="00:03:00"
							receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false"
							bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSUfficiPagatoriSoap" closeTimeout="00:02:00"
							openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
							allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSUfficiPagatoriDbSoap" closeTimeout="00:02:00"
					openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="Service1Soap" closeTimeout="00:03:00" openTimeout="00:03:00"
							receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false"
							bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ServicesSoap" closeTimeout="00:02:00" openTimeout="00:02:00"
							  receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false"
							  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
							  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							  useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="InvioSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
							receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
							bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			        <binding name="IWSIcona20"   maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
			          <security mode="Transport">
			            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
			            <message clientCredentialType="UserName" algorithmSuite="Default" />
			          </security>
			        </binding>
				<binding name="InterrogazioneSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
							receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
							bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_ISediINPS" closeTimeout="00:01:00"
						   openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						   allowCookies="false" bypassProxyOnLocal="false"
						   hostNameComparisonMode="StrongWildcard"
						   maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
						   maxReceivedMessageSize="2147483647"
						   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						   useDefaultWebProxy="true">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
							  maxArrayLength="2147483647" maxBytesPerRead="2147483647"
							  maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="AllegatiConvenzioniServiceSOAPBinding" messageEncoding="Mtom" closeTimeout="00:01:00"
				  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
				  textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<extensions>
			<behaviorExtensions>
				<add name="initializeClientMessage" type="INPS.DNA.Services.Behaviors.Client.InitializeHeaderBehavior, INPS.DNA.Services.Behaviors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
				<add name="infrastructureService" type="INPS.DNA.Services.Behaviors.InfrastructureServiceBehavior, INPS.DNA.Services.Behaviors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
			</behaviorExtensions>
		</extensions>
		<client>
			<endpoint address="net.pipe://localhost/DNA.SOAConfiguration/v.1.0.0.0/ServiceManager.svc/netpipe"
					  binding="customBinding" bindingConfiguration="netpipeCustomBinding"
					  contract="IManagerConfigurationService" name="NetPipeBinding_IManagerConfigurationService" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WsDomandeWebDom" binding="customBinding"
					  bindingConfiguration="WsSOAP1" contract="SrvWebDom.WSWebDomSoap" name="WSWebDomSoap" behaviorConfiguration="Client"/>
			<endpoint address="https://serviziexz.collaudo.inps.it/ArcaIntraWS/services/ArcaIntraWS" binding="customBinding"
					  bindingConfiguration="WsSOAP1" contract="SrvARCA.ArcaIntraWS" name="IWsArca" behaviorConfiguration="Client"/>
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSDRED" binding="customBinding"
					  bindingConfiguration="WsSOAP1" contract="SrvRedditi.RED_ServiceSoap" name="RED_ServiceSoap" behaviorConfiguration="Client"/>
			<endpoint address="http://msws.svil.inps/wsufficipagatori/decodifica/wsufficipagatori.asmx"
		  binding="basicHttpBinding" bindingConfiguration="WSUfficiPagatoriSoap"
		  contract="SrvUfficiPagatori.WSUfficiPagatoriSoap" name="WSUfficiPagatoriSoap" />
			<endpoint address="http://msws.svil.inps/wsufficipagatori/consultaliste/wsufficipagatoriDB.asmx"
				binding="basicHttpBinding" bindingConfiguration="WSUfficiPagatoriDbSoap"
				contract="SrvUfficiPagatoriListe.WSUfficiPagatoriDbSoap" name="WSUfficiPagatoriDbSoap" />
			<endpoint address="net.tcp://mswcf.ser-collaudo.inps/WSInpsPensioniLiquidazioneFS/ServizioLiquidazioneFs.svc/nettcp" binding="netTcpBinding" bindingConfiguration="CustomBinding_IServizioLiquidazioneFs1"
			contract="SrvLiquidazioneFs.IServizioLiquidazioneFs" name="CustomBinding_IServizioLiquidazioneFs1" behaviorConfiguration="Client" />
			<endpoint address="net.tcp://mswcf.ser-collaudo.inps/WSINPSPensioniLiquidazioneCI/ServizioLiquidazioneCi.svc/nettcp" binding="netTcpBinding" bindingConfiguration="CustomBinding_IServizioLiquidazioneCi1"
			contract="SrvLiquidazioneCi.IServizioLiquidazioneCi" name="CustomBinding_IServizioLiquidazioneCi1" behaviorConfiguration="Client"/>
			<endpoint address="net.tcp://mswcf.ser-collaudo.inps/WSInpsPensioniLiquidazioneAgo/ServizioLiquidazioneAgo.svc/nettcp"
			binding="netTcpBinding" bindingConfiguration="CustomBinding_IServizioLiquidazioneAgo1"
			contract="SrvLiquidazioneAgo.IServizioLiquidazioneAgo" name="CustomBinding_IServizioLiquidazioneAgo1" behaviorConfiguration="Client"/>
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSGestionePeco" binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvAggPec.IGestionePecoService" name="customBinding_IGestionePecoService" behaviorConfiguration="Client" />
			<endpoint address="http://emweb.svil.inps/wsTE08/ServizioRichieste.asmx"
					  binding="basicHttpBinding" bindingConfiguration="Service1Soap"
					  contract="SrvStampeWeb.Service1Soap" name="Service1Soap" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSStampeWeb"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvStampeWebDP.ServizioRichiesteSoap" name="customBinding_ServizioRichiesteSoap" behaviorConfiguration="Client"/>
			<endpoint address="https://ws.ser-collaudo.inps/WSJava/WSVariazioneUfficioPagatoreSQLWEB"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvVarUfficioPag.VariazioneUfficioPagatore" name="VariazioneUfficioPagatoreSOAP" behaviorConfiguration="Client" />
			<endpoint address="http://srvtest02/Intranet/Servizi.NetNT/EAP/WS.NETNT/WS.PP.PNL/NumerazioneLIPE/Services.asmx"
					  binding="basicHttpBinding" bindingConfiguration="ServicesSoap"
					  contract="SrvAssegnazioneCertificato.ServicesSoap" name="ServicesSoap" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/wsSediINPS"
					  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISediINPS"
					  contract="ISediINPS" name="CustomBinding_ISediINPS" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSDelegheSindacali"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvDelegheSindacali.wsDelegheSindacaliSoap" name="customBinding_wsDelegheSindacaliSoap" behaviorConfiguration="Client" />
			<endpoint address="http://intranet.ser-collaudo.inps/Ws.Net/WsIcona/Invio.asmx"
					  binding="basicHttpBinding" bindingConfiguration="InvioSoap"
					  contract="SrvIcona.InvioSoap" name="InvioSoap" />
		      <endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSIcona" binding="basicHttpBinding"
		                bindingConfiguration="IWSIcona20" contract="SrvIcona2.IWSIcona20"
		                name="IWSIcona20" >
		              <headers>
		                <inps:Identity xmlns:inps="http://inps.it/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		                  <AppName>PN812_InpsPensioneLiquidazione</AppName>
		                  <AppKey>aloqemsw6u0iflg7sjwlmvawyoplvrt4</AppKey>
		                  <IdentityProvider>AD</IdentityProvider>
		                  <UserId>Utente1</UserId>
		                </inps:Identity>
		              </headers>
		      </endpoint>
			<endpoint address="http://intranet.ser-collaudo.inps/Ws.Net/WsIcona/Interrogazione.asmx"
					  binding="basicHttpBinding" bindingConfiguration="InterrogazioneSoap"
					  contract="SrvInquiryMail.InterrogazioneSoap" name="InterrogazioneSoap" />
			<endpoint address="https://ws.ser-collaudo.inps/WsJava/WSAllegatiConvenzioni/AllegatiConvenzioniService" binding="basicHttpBinding" bindingConfiguration="AllegatiConvenzioniServiceSOAPBinding"
					  behaviorConfiguration="Client" contract="SrvAllegatiConvenzioni.AllegatiConvenzioniService" name="AllegatiConvenzioniServiceSOAP" />
			<!--<endpoint address="http://msws2.svil.inps/WSLiqPensGeneraCertificati/ServiceCertificati.svc" binding="customBinding" bindingConfiguration="CustomBinding_ServiceCertificati" 
                contract="SrvGeneraCertificati.IServiceCertificati" name="CustomBinding_ServiceCertificati" behaviorConfiguration="Client" />-->
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSLiqPensGeneraCertificati"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvGeneraCertificati.IServiceCertificati" name="customBinding_wsGeneraCertificatiSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/host/ArcaManWS"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvArcaMan.ArcaManWS" name="ArcaManWS" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/host/DatiPensioniWEB/services/DatiPensioniSOAP"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvDatiPensioni.DatiPensioni" name="customBinding_wsDatiPensioniSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSUNIDETRA"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvUniDetra.IDetrazioni" name="customBinding_wsUniDetraSoap" behaviorConfiguration="Client"/>
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WsFelpePerSin"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvSIN.IFelpePerSINService" name="customBinding_wsSINSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WsTotalivs"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvWSTotalIvs.WSTotalIvsSoap" name="customBinding_wsTotalIvsSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSGestionePeco"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvAMGFelpe.IGestionePecoService" name="GestionePecoSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSUffPagatori"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvUfficiPagatoriNew.IUffPagatori" name="BasicHttpBinding_IUffPagatori" behaviorConfiguration="Client" />
			<endpoint address=""
				  binding="customBinding" bindingConfiguration="WsSOAP1"
				  contract="SrvINPDAP.IntPenSisWS" name="customBinding_wsIntPenSisWS" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/WSJava/AnfWSWEB"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvANF.AnfWS" name="AnfWSPort" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WsVerTitolIBAN"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvVerTitolIBAN.IWsVerTitolIBAN" name="BasicHttpBinding_IWsVerTitolIBAN" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSBookingBonus"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvRichiestaBonus.WSBookingBonusService" name="BasicHttpBinding_WSBookingBonusService" behaviorConfiguration="Client"/>
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSSCRIWO"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvSCRIWO.IWSSCRIWO_Aggiorna" name="BasicHttpBinding_IWSSCRIWO_Aggiorna" behaviorConfiguration="Client"/>
			<endpoint address="https://ws.ser-collaudo.inps/WSJava/WSOrchSerPen"
					binding="customBinding" bindingConfiguration="WsSOAP1"
					contract="SrvOrchSerPen.OrchServPensWebService" name="OrchServPensWebServicePort" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSUnicarpe/CalcoloQuote"
			 binding="customBinding" bindingConfiguration="WsSOAP1"
			 contract="SrvCalcoloQuote.ICalcoloQuote" name="Service1Soap" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSPianiDiPagamento"
                binding="customBinding" bindingConfiguration="WsSOAP1"
                contract="SrvPianiDiPagamento.IWSPianiDiPagamento" name="WSPianiDiPagamentoEndPoint"/>
		</client>
	</system.serviceModel>
</configuration>
