<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="INPS.DNA.Service" type="INPS.DNA.Services.Configuration.ServiceConfigurationSection, INPS.DNA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
		<section name="INPS.DNA.Context" type="INPS.DNA.Context.Configuration.ContextSection, INPS.DNA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
		<section name="INPS.DNA.Data" type="INPS.DNA.Data.Configuration.DataSection, INPS.DNA.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c" />
		<section name="INPS.DNA.Data.SchemaAlias" type="INPS.DNA.Data.Configuration.SchemaAliasSection, INPS.DNA.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
	</configSections>
	<INPS.DNA.Service>
		<serviceConfigurationSettings/>
	</INPS.DNA.Service>
	<enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
		<sources>
			<add name="DNA Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="D:\Web\Componenti\DNA.CONFIG\DNA.Settings.Intranet.BackEnd.config"/>
			<add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>

	<INPS.DNA.Context>
		<applicationInfo name="PN815_WSINPSPensioniLiquidazioneAGO" identityKey="ig9yxvv7vspctgyn9aac93tvkct0ori" securityGroupName="codiceIDM" description="servizio liquidazione ago" />
	</INPS.DNA.Context>
	<INPS.DNA.Data>
		<connectionStringCryptography enabled="false"/>
		<connectionTracking enabled="true"/>
	</INPS.DNA.Data>

	<appSettings>
		<!--AGGPEC-->
		<add key="ChiaveApplicazioneAGGPEC" value="WEBIVS74" />
		<!--DataSistema-->
		<add key="DataSistema" value="SI"/>
		<!-- SIN -->
		<add key="ChiaveApplicazioneSIN" value="IVSSIN"/>
		<!--NuoviControlliAssegniMemo152-->
		<add key="NuoviControlliAssegniMemo152" value="SI"/>
		<!--ANF-->
		<add key="SistemaChiamante" value="PN812"/>
		<!--Tipologia Domanda = C || D || E per le inabilità-->
		<add key ="TipologiaCumuloPerInabilita" value ="SI"/>
		<!-- Api Connect-->
		<add key="ApiClientId" value="50941b516177ad1543c42437c735b82d" />
		<add key="ApiClientSecret" value="be228c44af5a06fc8be1eaf2e34e3aa6" />
		<add key="ApiNuovoCalcoloUrl" value="https://api-intranet.collaudo.inps.it/rest/servizi-c/ms00622" />
		<add key="ApiNuovoCalcoloProvider" value="AD" />
		<add key="ApiNuovoCalcoloUserId" value="LIQPENSI" />
		<add key="ApiCCQualityDataCheckerUrl" value="https://api-intranet.collaudo.inps.it/rest/servizi-c/ms00624" />
		<add key="ApiClientIdQualityDataChecker" value="50941b516177ad1543c42437c735b82d" />
		<add key="ApiClientSecretQualityDataChecker" value="be228c44af5a06fc8be1eaf2e34e3aa6" />
	</appSettings>
	<connectionStrings>
    <add name="CIBaseConnectionString"
        connectionString="Data Source=SQLCOL20,1433;Initial Catalog=CIBase;Persist Security Info=True;User ID=DBWS0021201;Password=Rf6ZgiPazy*7"
        providerName="System.Data.SqlClient" />
		<add name="PensioniConnectionString"
				connectionString="Data Source=sqlcol20,2469;Initial Catalog=Pensioni_Fs;Persist Security Info=True;User ID=Pensioni_Fs;Password=HDeoiine5t"
				providerName="System.Data.SqlClient" />
		<add name="WebDomConnectionString"
			connectionString="Data Source=sqlcol06\sql06;Initial Catalog=Richieste2003;Persist Security Info=True;User ID=Richieste2003Dec;Password=TuLpr.Wtg9"
			providerName="System.Data.SqlClient" />
		<add name="DBS_ComuniConnectionString" connectionString="Data Source=SQLCOL20;Initial Catalog=DBS_Comuni;Persist Security Info=True;User ID=LiqPens;Password=9gs8jl" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="INPS.Pensioni.LiquidazioneAgo.Service.ServizioLiquidazioneAgoBehavior"
					name="INPS.Pensioni.LiquidazioneAgo.Service.ServizioLiquidazioneAgo">
				<endpoint address="nettcp" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.Pensioni.LiquidazioneAgo.Service.IServizioLiquidazioneAgo" />
				<endpoint address="netpipe" binding="customBinding" bindingConfiguration="netpipeCustomBinding" contract="INPS.Pensioni.LiquidazioneAgo.Service.IServizioLiquidazioneAgo" />

				<endpoint address="configuration" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.DNA.Services.Contract.IConfigurationService"/>
				<endpoint address="test" binding="customBinding" bindingConfiguration="nettcpCustomBinding" contract="INPS.DNA.Services.Contract.IMonitoringService"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="INPS.Pensioni.LiquidazioneAgo.Service.ServizioLiquidazioneAgoBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"  />
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"   />
					<serviceThrottling maxConcurrentSessions="16"  />
					<infrastructureService auditRequestLevel="Full" auditResponseLevel="Full" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="Client">
					<initializeClientMessage />
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ILiquidazioneAgo" closeTimeout="00:10:00"
							openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
							bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
							maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
							messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
							allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="163840"
						maxBytesPerRead="4096" maxNameTableCharCount="163840" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
							establishSecurityContext="true" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IManagerConfigurationService" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00">
					<security mode="None">
					</security>
				</binding>
			</wsHttpBinding>
			<customBinding>
				<binding name="nettcpCustomBinding" sendTimeout ="00:03:00" >
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="163840"/>
					</binaryMessageEncoding>
					<tcpTransport maxReceivedMessageSize="900000" transferMode="Buffered">
					</tcpTransport>
				</binding>
				<binding name="netpipeCustomBinding" sendTimeout ="00:03:00" >
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="163840"/>
					</binaryMessageEncoding>
					<namedPipeTransport maxReceivedMessageSize="900000" transferMode="Buffered" />
				</binding>
				<binding name ="WsSOAP1">
					<textMessageEncoding messageVersion="Soap11">
						<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
					</textMessageEncoding>
					<httpsTransport
					 transferMode ="Buffered"
					 maxBufferSize="2147483647" useDefaultWebProxy="true"
					 maxBufferPoolSize="2147483647" bypassProxyOnLocal="false"
					 maxReceivedMessageSize="2147483647" requireClientCertificate="false" />
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ISediINPS" closeTimeout="00:01:00"
						   openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						   allowCookies="false" bypassProxyOnLocal="false"
						   hostNameComparisonMode="StrongWildcard"
						   maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
						   maxReceivedMessageSize="2147483647"
						   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						   useDefaultWebProxy="true">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
							  maxArrayLength="2147483647" maxBytesPerRead="2147483647"
							  maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
        <binding name="AllegatiConvenzioniServiceSOAPBinding" messageEncoding="Mtom" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
			</basicHttpBinding>
		</bindings>
		<extensions>
			<behaviorExtensions>
				<add name="initializeClientMessage" type="INPS.DNA.Services.Behaviors.Client.InitializeHeaderBehavior, INPS.DNA.Services.Behaviors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
				<add name="infrastructureService" type="INPS.DNA.Services.Behaviors.InfrastructureServiceBehavior, INPS.DNA.Services.Behaviors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a31fe99d2f98435c"/>
			</behaviorExtensions>
		</extensions>
		<client>
			<endpoint address="net.pipe://localhost/DNA.SOAConfiguration/v.1.0.0.0/ServiceManager.svc/netpipe"
					  binding="customBinding" bindingConfiguration="netpipeCustomBinding"
					  contract="IManagerConfigurationService" name="NetPipeBinding_IManagerConfigurationService" />
			<endpoint address="http://hisr.ser-collaudo.inps/PN821-INPSPensioniLiquidazioneAgo/TI_PNL_R.LiquidazioneAgo.svc"
					  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILiquidazioneAgo"
					  contract="HisLiquidazioneAgo.ILiquidazioneAgo" name="WSHttpBinding_ILiquidazioneAgo" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSGestionePeco" binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvAggPec.IGestionePecoService" name="customBinding_IGestionePecoService" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/wsSediINPS" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISediINPS" contract="ISediINPS" name="CustomBinding_ISediINPS" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSDelegheSindacali" binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvDelegheSindacali.wsDelegheSindacaliSoap" name="customBinding_wsDelegheSindacaliSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WsTotalivs"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvWSTotalIvs.WSTotalIvsSoap" name="customBinding_wsTotalIvsSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/host/DatiPensioniWEB/services/DatiPensioniSOAP" binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvDatiPensioni.DatiPensioni" name="customBinding_wsDatiPensioniSoap" behaviorConfiguration="Client" />
			<endpoint address="https://ws.ser-collaudo.inps/WSJava/AnfWSWEB"
					  binding="customBinding" bindingConfiguration="WsSOAP1"
					  contract="SrvANF.AnfWS" name="AnfWSPort" behaviorConfiguration="Client" />
      <endpoint address="https://ws.ser-collaudo.inps/WsJava/WSAllegatiConvenzioni/AllegatiConvenzioniService" binding="basicHttpBinding" bindingConfiguration="AllegatiConvenzioniServiceSOAPBinding"
            contract="SrvAllegatiConvenzioni.AllegatiConvenzioniService" name="AllegatiConvenzioniServiceSOAP" behaviorConfiguration="Client" />
      <endpoint address="https://ws.ser-collaudo.inps/WsJava/WSSERVIZINACI"
            binding="customBinding" bindingConfiguration="WsSOAP1" contract="SrvNACI.WSSERVIZINACIService" name="WSSERVIZINACIPort" behaviorConfiguration="Client"/>
		</client>
	</system.serviceModel>
</configuration>
