<?xml version="1.0" encoding="utf-8" ?>
<IdmFields>
  <UserName>mrossi</UserName>
  <Nome>PierFrancesco</Nome>
  <Cognome>MastroGiacomo</Cognome>
  <Matricola>12345678</Matricola>
  <CodiceFiscale>CODICEFISCALE</CodiceFiscale>
  <AccountWindows>risorse\mrossi</AccountWindows>
  <Email>mrossi@inps.it</Email>
  <CodiceSede>0600</CodiceSede>
  <CodiceSedeSAP>060000</CodiceSedeSAP>
  <Ruoli>
    <!--Amministratore FS + AGO-->
   <!--cn=A3349:P4677,dc=inps,dc=it;
    cn=A3349:P8854,dc=inps,dc=it;-->
    <!--Amministratore FS-->
    <!--cn=A3349:P4677,dc=inps,dc=it;-->
    <!--Amministratore AGO-->
    <!--cn=A3349:P8854,dc=inps,dc=it;-->
    <!--Amministratore FS + AGO + CI-->
    <!--Direttore_RdP FS + AGO + CI-->
    cn=A3349:P4677,dc=inps,dc=it;
    cn=A3349:P8854,dc=inps,dc=it;
    cn=A3349:P8855,dc=inps,dc=it;
    cn=A3349:P8974:210000,dc=inps,dc=it;
    cn=A3349:P8974:060000,dc=inps,dc=it;
    cn=A3349:P8974:050000,dc=inps,dc=it;
    cn=A3349:P8975:210000,dc=inps,dc=it;
    cn=A3349:P8975:060000,dc=inps,dc=it;
    cn=A3349:P8975:050000,dc=inps,dc=it;
    cn=A3349:P8976:210000,dc=inps,dc=it;
    cn=A3349:P8976:060000,dc=inps,dc=it;
    cn=A3349:P8976:050000,dc=inps,dc=it;
    <!--Gestore FS-->
    <!--cn=A3349:P4678:060000,dc=inps,dc=it;
    cn=A3349:P4678:069000,dc=inps,dc=it;
    cn=A3349:P4678:030000,dc=inps,dc=it;
    cn=A3349:P4678:210000,dc=inps,dc=it;
    cn=A3349:P4678:050000,dc=inps,dc=it;
    cn=A3349:P4678:180000,dc=inps,dc=it;
    cn=A3349:P4678:060002,dc=inps,dc=it;
    cn=A3349:P4678:700200,dc=inps,dc=it;-->
    <!--Gestore FS + AGO-->
    <!--cn=A3349:P4678:060000,dc=inps,dc=it;
    cn=A3349:P8856:060000,dc=inps,dc=it;
    cn=A3349:P8856:069000,dc=inps,dc=it;
    cn=A3349:P4678:030000,dc=inps,dc=it;
    cn=A3349:P4678:210000,dc=inps,dc=it;
    cn=A3349:P8856:050000,dc=inps,dc=it;
    cn=A3349:P4678:180000,dc=inps,dc=it;
    cn=A3349:P8856:060002,dc=inps,dc=it;
    cn=A3349:P4678:700200,dc=inps,dc=it;-->
    <!--Gestore FS + AGO + CI-->
    cn=A3349:P4678:060000,dc=inps,dc=it;
    cn=A3349:P8856:060000,dc=inps,dc=it;
    cn=A3349:P4678:069000,dc=inps,dc=it;
    cn=A3349:P8856:069000,dc=inps,dc=it;
    cn=A3349:P4678:030000,dc=inps,dc=it;
    cn=A3349:P4678:210000,dc=inps,dc=it;
    cn=A3349:P8856:050000,dc=inps,dc=it;
    cn=A3349:P4678:180000,dc=inps,dc=it;
    cn=A3349:P8856:060002,dc=inps,dc=it;
    cn=A3349:P8857:700200,dc=inps,dc=it;
    <!--Gestore AGO-->
    <!--cn=A3349:P8856:060000,dc=inps,dc=it;
    cn=A3349:P8856:069000,dc=inps,dc=it;
    cn=A3349:P8856:030000,dc=inps,dc=it;
    cn=A3349:P8856:210000,dc=inps,dc=it;
    cn=A3349:P8856:050000,dc=inps,dc=it;
    cn=A3349:P8856:180000,dc=inps,dc=it;
    cn=A3349:P8856:060002,dc=inps,dc=it;
    cn=A3349:P8856:700200,dc=inps,dc=it;-->
    <!--Gestore FS + AGO senza sedi-->
    <!--cn=A3349:P4678,dc=inps,dc=it;
    cn=A3349:P8856,dc=inps,dc=it;-->
    <!--Gestore FS + AGO con e senza sedi-->
    <!--cn=A3349:P4678:060000,dc=inps,dc=it;
    cn=A3349:P4678:069000,dc=inps,dc=it;
    cn=A3349:P8856,dc=inps,dc=it;-->
    <!--Operatore-->
    <!--cn=A3349:P4697, dc=inps,dc=it;-->
  </Ruoli>
</IdmFields>