<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILiquidazioneFs" closeTimeout="00:10:00"
                    openTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hisrsvil04.ser-test.inps/PN811-PensioniLiquidazione/TI_PFS_R.LiquidazioneFs.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILiquidazioneFs"
                contract="HisLiquidazioneFs.ILiquidazioneFs" name="WSHttpBinding_ILiquidazioneFs" />
        </client>
    </system.serviceModel>
</configuration>