<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Liquidazione.master.cs"
    Inherits="INPS.Pensioni.LiquidazionePensione.View.Web.Liquidazione" %>

<%@ Register Src="~/UserControls/UCMenuLeft.ascx" TagName="Menu" TagPrefix="UCM" %>
<%@ Register Src="~/UserControls/UCIntestazione.ascx" TagName="Intestazione" TagPrefix="UCI" %>
<%@ Register Src="~/UserControls/UCTestata.ascx" TagName="Testata" TagPrefix="UCT" %>
<%@ Register Src="~/UserControls/UCFooter.ascx" TagName="Footer" TagPrefix="UCF" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link rel="Stylesheet" href="../Javascript/redmond/jquery-ui-1.8.2.custom.css" type="text/css" />
    <script type="text/javascript" src="../Javascript/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../Javascript/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="../Javascript/jquery.datepick-it.js"></script>
    <script type="text/javascript" src="../Javascript/jquery.maskedinput-1.2.2.min.js"></script>
    <script type="text/javascript" src="../Javascript/jquery.maskMoney.0.2.js"></script>
    <script type="text/javascript" src="../Javascript/diQuery-collapsiblePanel.js"></script>
    <script type="text/javascript" src="../Javascript/validate2.js"></script>
    <script type="text/javascript" src="../Javascript/Utility.js"></script>
    <script type="text/javascript" src="../Javascript/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../Javascript/browser.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body runat="server" id="objbody" style="margin: 0px" onkeydown="if(IsFirefox()){cancelBackFF(event);} else {cancelBack();}">
    <form id="form1" runat="server">
    <table id="TopBarImages" cellpadding="0" cellspacing="0" border="0" style="width:100%;" runat="server" >
  <tr>
    <td style="padding:0;margin:0;vertical-align:top;white-space:nowrap;">
      <img id="Img1" runat="server"
           src="~/App_Themes/BlueINPS1/Images/intranet_png_pparte.png"
           alt=""
           style="display:block;border:0;margin:0;padding:0;height:20px;" />
    </td>
    <td style="padding:0;margin:0;vertical-align:top;width:100%;">
      <img id="Img2" runat="server"
           src="~/App_Themes/BlueINPS1/Images/intranet_png_pparte.png"
           alt=""
           style="display:block;border:0;margin:0;padding:0;width:100%;height:20px;" />
    </td>
    <td style="padding:0;margin:0;vertical-align:top;white-space:nowrap;">
      <img id="Img3" runat="server"
           src="~/App_Themes/BlueINPS1/Images/intranet_png_sparte.png"
           alt=""
           style="display:block;border:0;margin:0;padding:0;height:20px;" />
    </td>
  </tr>
</table>
    <table style="width: 100%" border="0" cellpadding="0" cellspacing="0" id="tblIntestazione" class="TEST"
        runat="server">
        <tr>
            <td rowspan="2" style="width: 125px">
                <img src="../App_Themes/<%= AppTheme %>/Images/intranet_inps_demo.png" alt="INTRANET" />
            </td>
            <td align="left">
                <img src="../App_Themes/<%= AppTheme %>/Images/intranet_top_left.png" alt="INTRANET2" />
            </td>
            <td align="right">
                <img src="../App_Themes/<%= AppTheme %>/Images/intranet_top_right.png" alt="INTRANET2" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left" style="background-image: url('../App_Themes/BlueINPS1/Images/intranet_down_back.png')" class="iframe-bg-intranet_down_back">
                <img src="../App_Themes/<%= AppTheme %>/Images/intranet_down_left.png" alt="INTRANET2" />
            </td>
        </tr>
    </table>
    <div id="container" runat="server">
        <div id="Header" class="container-fluid container-centered">
            <UCT:Testata runat="server" ID="UcTestata" />
        </div>
        <div id="user" style="text-align: right">
            <UCI:Intestazione runat="server" ID="UCIntestazione" />
        </div>
        <div style="display: contents" class="sub-container">
            <div id="leftside">
                <UCM:Menu ID="UCMenu" runat="server" />
            </div>
            <div id="content">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <br class="clearboth" />
    <div id="Footer" runat="server" style="display: none">
        <UCF:Footer runat="server" ID="UCFooter" />
    </div>
    </form>
    <script type="text/javascript">
        window.history.forward(1);
        var uiDPchiuso = false;

        $(function () {
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                maxDate: '+11y',
                minDate: '-100y',
                yearRange: 'c-20:' + 'c+11:',

                hideCalendar: 'ui-datepicker-calendar',


                onClose: function (dateText, inst) {
                    if (uiDPchiuso == true) {
                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, month, 1));
                        uiDPchiuso = false;
                        $(this).focus();
                    }
                }
                //            ,
                //            onSelect: function() {
                //                this.fireEvent && this.fireEvent('onchange') || $(this).change();
                //            }
            });
            //$(".date-picker").unmask();
            //$(".date-picker").mask("99/9999");
        });

        $(function () {
            $('.date-picker-maxActual').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                maxDate: +0,
                minDate: '-100y',
                yearRange: '-100:' + '+0:',

                hideCalendar: 'ui-datepicker-calendar',
                onClose: function (dateText, inst) {
                    if (uiDPchiuso == true) {
                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, month, 1));
                        uiDPchiuso = false;
                        $(this).focus();
                    }
                }
            });
            //$(".date-picker-maxActual").unmask();
            //$(".date-picker-maxActual").mask("99/9999");
        });

        $(function () {
            $('.date-picker-maxOneYear').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                maxDate: '+1y',
                minDate: '-100y',
                yearRange: '-100:' + '+1:',

                hideCalendar: 'ui-datepicker-calendar',
                onClose: function (dateText, inst) {
                    if (uiDPchiuso == true) {
                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, month, 1));
                        uiDPchiuso = false;
                        $(this).focus();
                    }
                }
            });
            //$(".date-picker-maxActual").unmask();
            //$(".date-picker-maxActual").mask("99/9999");
        });


        $(function () {
            $('.date-picker-year').datepicker({
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                minDate: '-100y',
                maxdate: '+11y',
                //             yearRange: 'c-50:' + 'c+0:',
                stepMonths: 12,
                hideCalendar: 'ui-datepicker-calendar',
                onClose: function (dateText, inst) {
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, 1, 1));
                    $(this).focus();
                }
            });
        });
        //datepicker che visualizza gg/mm/aa
        $(function () {
            $('.date-picker-base-maxActual').datepicker({
                changeMonth: true,
                changeYear: true,
                changeDay: true,
                showButtonPanel: true,
                dateFormat: 'dd/mm/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                yearRange: '-100:' + '+0',
                maxDate: '0',
                minDate: '-100y',
                onClose: function (dateText, inst) {
                    $(this).focus();
                }
            });
            //$(".date-picker-base-maxActual").unmask();
            //$(".date-picker-base-maxActual").mask("99/99/9999");
        });
        //datepicker che visualizza gg/mm/aa
        $(function () {
            $('.date-picker-base').datepicker({
                changeMonth: true,
                changeYear: true,
                changeDay: true,
                showButtonPanel: true,
                dateFormat: 'dd/mm/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                minDate: '-100y',
                maxDate: '+11y',
                //             yearRange: 'c-50:' + 'c+20:'
                onClose: function (dateText, inst) {
                    $(this).focus();
                }
            });
            //$(".date-picker-base").unmask();
            //$(".date-picker-base").mask("99/99/9999");
        });

        // Date picker per Bititolarità
        $(function () {
            $('.date-picker-range70').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                maxDate: '+5y +0m +0d',
                minDate: '-100y',

                hideCalendar: 'ui-datepicker-calendar',
                onClose: function (dateText, inst) {
                    if (uiDPchiuso == true) {
                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, month, 1));
                        uiDPchiuso = false;
                        $(this).focus();
                    }
                }
            });
            //$(".date-picker-maxActual").unmask();
            //$(".date-picker-maxActual").mask("99/9999");
        });

        $(function () {
            $('.date-picker-maxOneYear').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '../App_Themes/<%= AppTheme %>/Images/calendar1.png',
                maxDate: '+1y',
                minDate: '-100y',
                yearRange: '-100:' + '+1:',

                hideCalendar: 'ui-datepicker-calendar',
                onClose: function (dateText, inst) {
                    if (uiDPchiuso == true) {
                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, month, 1));
                        uiDPchiuso = false;
                        $(this).focus();
                    }
                }
            });
        });

        $(document).ready(function () {
            $("input:enabled.hasDatepicker").datepicker("enable");
            $("input:disabled.hasDatepicker").datepicker("disable");
        });

    </script>
</body>
</html>
